@theme "gruvbox-material-dark.rasi"
@import "common.rasi"

window {
  width: 300px;
  children: [ mainbox ];
}

mainbox {
  children: [ message, listview ];
}

listview {
  scrollbar: false;
  lines: 5;
}
