@theme "gruvbox-material-dark.rasi"
@import "common.rasi"

window {
  width: 300px;
  children: [ mainbox ];
}

mainbox {
  children: [ message, listview ];
}

message {
  border: 0 0 1px 0;
  border-color: @border-color;
}

listview {
  scrollbar: false;
  lines: 5;
}
