@theme "gruvbox-material-dark.rasi"
@import "common.rasi"

configuration {
  dmenu {
    display-name: " > ";
  }
}

window {
    width: 500px;
    children: [ inputbar ];
}

entry {
  placeholder: "Search...";
}

